name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2   

      - name: Set up SSH key
        run: |
          echo "${{ secrets.SSH_KEY }}" | sed 's/\\n/\n/g' > ssh_key
          chmod 600 ssh_key
          eval "$(ssh-agent -s)"
          ssh-add ssh_key

      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no root@37.27.95.239 'echo SSH connection successful'

      - name: Run deployment script on server
        run: |
          ssh -o StrictHostKeyChecking=no root@37.27.95.239 '
            cd /var/www/imchatty/imchatty &&
            git pull origin main &&
            bash deploy.sh
          '
